.reveal a {
    color: red;
}
.reveal blockquote {
    font-size: 32px;
}
.reveal h2 {
    font-size: 48px;
}
.reveal p {
    font-size: 36px;
}
.reveal ul, .reveal ol {
    margin-top: 20px;
    margin-bottom: 20px;
}
.reveal ul > li, .reveal ol > li {
    line-height: 40px;
    padding-bottom: 30px;
    font-size: 36px;
}
.reveal ul > li {
    padding-left: 50px;
    list-style-type: none;
    background-image: url(../img/basurdea.png);
    background-repeat: no-repeat;
    background-size: 40px;
}
.reveal section.hezkuntzan-librezale ul > li {
    background-image: url(../img/hezkuntzan-librezale-borobila.png);
}
.reveal section.irudia-eskuinean > ul {
    float: left;
    width: 45%;
    margin-left: 0px;
}
.reveal section.irudia-eskuinean > .irudia {
    float: right;
    width: 50%;
}
.azala .logoa {
    width: 300px;
}
.azala .izenburua {
    font-size: 48px;
    text-transform: none;
    margin-bottom: 20px;
}
.azala .egilea {
    font-size: 28px;
}
.azala .mastodon {
    font-size: 24px;
}
.txirrita-firefox {
    height: 450px;
}
.ask-euskara-logoa {
    width: 250px;
    float: right;
}
.ahobizi-logoa {
    width: 100px;
    float: right;
}
.auzolan-digitala {
    width: auto;
    height: 600px;
}
table.itzulpen-kopurua td {
    text-align: right;
}
table.itzulpen-kopurua td:first-child {
    text-align: left;
}
.gailuen-benetako-kontsumoa {
    width: auto;
    height: 480px;
}
.el-agin-hagina {
    width: auto;
    height: 600px;
}
.etxera-bidean {
    width: auto;
    height: 600px;
}